<!-- Validation failure messages -->
<% if @tasting.errors.any? %>
  <% @tasting.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Tasting #<%= @tasting.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_tasting/<%= @tasting.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for cheeses_id -->
      <div class="form-group">
        <label for="cheeses_id" class="control-label">
          Cheeses
        </label>

        <%= select_tag(:cheeses_id, options_from_collection_for_select(Cheese.all, :id, :name, @tasting.cheeses_id), :class => "form-control") %>
      </div>

      
      

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @tasting.location %>">
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @tasting.notes %></textarea>
      </div>

      <!-- Label and input for producers_id -->
      <div class="form-group">
        <label for="producers_id" class="control-label">
          Producers
        </label>

        <%= select_tag(:producers_id, options_from_collection_for_select(Producer.all, :id, :regions_id, @tasting.producers_id), :class => "form-control") %>
      </div>

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="<%= @tasting.rating %>">
      </div>

      <button class="btn btn-warning">
        Update Tasting
      </button>
      or
      <a href="/tastings/<%= @tasting.id %>">Cancel</a>
    </form>
  </div>
</div>
