<div class="page-header">
  <h3>Producer #<%= @producer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Regions</dt>
      <dd><%= @producer.regions_id %></dd>

      <dt>Name</dt>
      <dd><%= @producer.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/producers" class="btn btn-primary">
        Back
      </a>
      <a href="/producers/<%= @producer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_producer/<%= @producer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Producer has many tastings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tastings
      </li>

      <% @producer.tastings.each do |tasting| %>
        <li class="list-group-item">
          <a href="/tastings/<%= tasting.id %>">
            <%= tasting.cheeses_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tastings/<%= tasting.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tastings/<%= tasting.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tasting/<%= tasting.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_tasting" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for cheeses_id -->
      <div class="form-group">
        <label for="cheeses_id" class="control-label">
          Cheeses
        </label>

        <%= select_tag(:cheeses_id, options_from_collection_for_select(Cheese.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="">
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for producers_id -->
      <div class="form-group">
        <label for="producers_id" class="control-label">
          Producers
        </label>

        <%= select_tag(:producers_id, options_from_collection_for_select(Producer.all, :id, :regions_id), :class => "form-control") %>
      </div>

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Tasting
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Producer has many cheeses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Cheeses
      </li>

      <% @producer.cheeses.each do |cheese| %>
        <li class="list-group-item">
          <a href="/cheeses/<%= cheese.id %>">
            <%= cheese.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/cheeses/<%= cheese.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/cheeses/<%= cheese.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_cheese/<%= cheese.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
