<div class="page-header">
  <h3>Producer #<%= @producer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Regions</dt>
      <dd><%= @producer.regions_id %></dd>

      <dt>Name</dt>
      <dd><%= @producer.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/producers" class="btn btn-primary">
        Back
      </a>
      <a href="/producers/<%= @producer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_producer/<%= @producer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
