<div class="page-header">
  <h3>Region #<%= @region.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Address</dt>
      <dd><%= @region.address %></dd>

      <dt>Name</dt>
      <dd><%= @region.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/regions" class="btn btn-primary">
        Back
      </a>
      <a href="/regions/<%= @region.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_region/<%= @region.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Region has many producers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Producers
      </li>

      <% @region.producers.each do |producer| %>
        <li class="list-group-item">
          <a href="/producers/<%= producer.id %>">
            <%= producer.regions_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/producers/<%= producer.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/producers/<%= producer.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_producer/<%= producer.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_producer" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for regions_id -->
      <div class="form-group">
        <label for="regions_id" class="control-label">
          Regions
        </label>

        <%= select_tag(:regions_id, options_from_collection_for_select(Region.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Producer
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Region has many cheeses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Cheeses
      </li>

      <% @region.cheeses.each do |cheese| %>
        <li class="list-group-item">
          <a href="/cheeses/<%= cheese.id %>">
            <%= cheese.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/cheeses/<%= cheese.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/cheeses/<%= cheese.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_cheese/<%= cheese.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
